@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sono: 'Sono Variable', sans-serif;
	--font-pacifico: 'Pacifico', cursive;

	--color-muted: oklch(0.55 0 0);

	--color-link: oklch(0.69 0.17 247.77);

	--color-ui-background-light: oklch(0.98 0 0);
	--color-ui-background-dark: oklch(0.26 0 0);

	--color-error: oklch(72.37% 0.171 25.55);
	--color-success: oklch(86.05% 0.1808 143.81);

	--color-orchid-bloom: oklch(78.24% 0.0515 313.32);
	--color-banana-cream: oklch(88.03% 0.1207 82.32);
	--color-beach-glass: oklch(85.38% 0.0767 178.12);
}

.scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}
